// Colores
$color-principal: #D9D9D9;
$color-negrito: #212529;
$color-facebook: rgb(59, 89, 152);
$color-instagram: rgb(255, 0, 132);
$color-linkedin: rgb(10, 102, 194);
$color-twitter: rgb(29, 161, 242);


// MIXIN
@mixin colores ($color-negrito, $tamanoFab, $colorRedes){
    color: $color-negrito;
    font-size: $tamanoFab;
    &:hover{
        color: $colorRedes
    }
}