// Page - Nosotros


.mainNosotros{
    margin-bottom: 50px;
    .conocenos{
        margin-left: 0.25px;
        .conocenosImg{
            background-image: url(../images/img-nosotros/fondo-nosotros.jpg);
            height: ($img-grande)+($img-mediana);
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            h2{
                margin-top: 30px;
                text-align: center;
                letter-spacing: 10px;
                color: $color-principal;
                background: rgba(0, 0, 0, 0.5);
                letter-spacing: 0.45rem;
                line-height: 1;
                @extend %estilosTitulos;
                &:hover{
                    transform: scale(1.1);
                    transition-property: all;
                    transition-duration: 1s;
                    cursor: default;
                }
                span{
                    font-family: $letra-secundaria;
                    font-size: 2rem;
                    letter-spacing: 0.05rem;
                }
            }
        }
        .conocenosText{
            text-align: justify;
            .container{
                .Qmedia525h3{
                    display: none;
                }
                .Qmedia525p{
                    display: none;
                }
                figure.imagenesNosotros{
                    color: white;
                    position: relative;
                    overflow: hidden;
                    width: 325px;
                    height: 350px;
                    background-color: #000000;
                    text-align: center;
                    margin: auto;
                    margin-top: 50px;
                    margin-bottom: 15px;
                    box-shadow: 0 0.5em 0.5em -0.4em $color-negrito;
                    border-radius: 2%;
                    img{
                        opacity: 0.9;
                        margin-top: 3%;
                        width: 95%;
                        height: 95%;
                    }
                    figcaption{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        h3, p{
                            margin: 0 0 5px;
                            opacity: 0;
                            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
                            transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
                        }
                        h3{
                            font-family: $letra-principal;
                            font-weight: 300;
                            font-size: 1.1rem;
                            text-transform: uppercase;
                            margin: 10px 30px 30px 30px;
                            -webkit-transform: translate3d(0%, 50%, 0);
                            transform: translate3d(0%, 50%, 0);
                            span{
                                font-weight: 800;
                                font-size: 1.2rem;
                            }
                        }
                        p{
                            text-align: start;
                            font-size: 0.9rem;
                            font-weight: 200;
                            margin-left: 20px;
                            margin-right: 20px;
                        }
                        a{
                            left: 0;
                            right: 0;
                            top: 0;
                            bottom: 0;
                            position: absolute;
                        }
                        &:hover{
                            h3{
                                opacity: 1;
                                -webkit-transform: translate3d(0%, 0%, 0);
                                transform: translate3d(0%, 0%, 0);
                                -webkit-transition-delay: 0.3s;
                                transition-delay: 0.3s;
                            }
                            p{
                                opacity: 1;
                                -webkit-transition-delay: 0.6s;
                                transition-delay: 0.6s;
                            }
                        }
                    }
                }
            }
        }
        p{
            margin: 20px 30px 20px 30px;
            font-family: $letra-secundaria;
            font-size: 1.2rem;
        }
    }
    .mapita{
        h3{
            text-align: center;
            text-shadow: 5px 5px 5px dimgray;
            font-family: $letra-principal;
            margin-top: 50px;
            margin-bottom: 30px;
        }
        iframe{
            box-shadow: 0 0.5em 0.5em -0.4em $color-negrito;
            border-radius: 2%;
        }
        padding: 20px;
        text-align: center;
    }
}

//Media Querys de Nosotros
@media (max-width: 1420px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                .container{
                    figure.imagenesNosotros{
                        width: 250px;
                        height: 275px;
                    }
                }
            }
        }
    }
}
@media (max-width: 1120px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                .container{
                    figure.imagenesNosotros{
                        width: 215px;
                        height: 245px;
                        figcaption{
                            h3{
                                margin: 10px 30px 15px 30px;
                            }
                            p{
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1065px){
    .mainNosotros{
        .mapita{
            iframe{
                width: 90%;
                height: 400px;
            }
        }
    }
}
@media (max-width: 1000px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                .container{
                    figure.imagenesNosotros{
                        width: 300px;
                        height: 325px;
                        figcaption{
                            h3{
                                margin: 10px 30px 30px 30px;
                            }
                            p{
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
            .nosotrosQmedia{
                display: none;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}
@media (max-width: 900px){
    .mainNosotros{
        margin-bottom: 0px;
    }
}
@media (max-width: 780px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                .container{
                    figure.imagenesNosotros{
                        width: 225px;
                        height: 250px;
                        figcaption{
                            h3{
                                margin: 10px 30px 15px 30px;
                            }
                            p{
                                font-size: 0.75rem;
                            }
                        }
                    }
                }
            }
            .nosotrosQmedia{
                display: none;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
}
@media (max-width: 525px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                p{
                    font-size: 1rem;
                }
                .row{
                    flex-direction: column;
                    align-content: center;
                    margin-left: -20px;
                    .Qmedia525h3{
                        margin-top: 30px;
                        margin-bottom: -30px;
                        display: block;
                        font-family: $letra-principal;
                        font-size: 1.5rem;
                        text-align: center;
                        margin-left: -50px;
                    }
                    .Qmedia525p{
                        display: block;
                        font-family: $letra-secundaria;
                        text-align: start;
                        margin-left: -50px;
                    }
                }
                .container{
                    figure.imagenesNosotros{
                        width: 225px;
                        height: 250px;
                        margin-left: -50px;
                        figcaption{
                            h3{
                                display: none;
                            }
                            p{
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 430px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                p{
                    font-size: 0.9rem;
                }
            }
        }
    }
}
@media (max-width: 400px){
    .mainNosotros{
        .conocenos{
            .conocenosText{
                .row{
                    margin-left: -50px;
                }
            }
        }
    }
}