// Carrouseles de Proyectos (Obras y Exterior)

.carouselesObEx{
    &:hover{
        img{
            transform: scale(1.10);
            transition: transform 2s;
        }
    }
    img{
        height: $img-grande;
        object-fit: cover;

        
    }
    h2{
        font-family: $letra-principal;
        color: white;
        text-shadow: 10px 10px 10px black;
        background-color: transparent;
        &:hover{
            transform: scale(1.3);
            transition-property: all;
            transition-duration: 1s;
            color: $color-principal;
        }
    }
    p{
        font-family: $letra-secundaria;
        color: $color-principal;
        text-shadow: 10px 10px 10px black;
        background: rgba(0,0,0,.4);
    }
    a{
        text-decoration: none;
    }
}


@media (max-width: 525px){
    .carouselesObEx{
        &:hover{
            img{
                transform: none;
                transition: none;
            }
        }
    }
}